html,
body {
    height: 100%;
    margin: 0;
    padding: 25px 0 0 0;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
}

#map-container {
    height: inherit;
    width: calc(100% - 20em);
}

#listview {
    padding: 0;
    overflow: auto;
    max-height: 100%;
    max-width: 20em;
}

@media only screen and (max-width: 991px) {
    #listview {
        max-height: 40%;
        max-width: 100%;
    }
    #map-container {
        height: inherit;
        width: 100%
    }
}

#search-container {
    padding: 1px 1px 0 0;
    width: 100%;
    border-radius: 0;
}

#search-results {
    margin-top: 33px;
}

#search-results li {
    border-radius: 0;
}

#search-results li:hover {
    background-color: azure;
}

#search-container input {
    border-radius: 0;
}